{% extends "base.html" %}

{% block title %}All{% endblock title %}

{% block body %}
<div class="mx-10 md:mx-20 mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5"> 
    
    {% for blog in blogs %}
    <a href="{% url "blog" slug=blog.slug %}" class=" rounded-md bg-card-200 overflow-hidden shadow-md grid grid-row-4">
        <img class="w-[100%] h-[100%] overflow-hidden row-span-3"  src="{{blog.get_thumbnai_url}}" alt="">
        <div class="p-2 ">
            <h4 class="text-lg capitalize">{{blog.title}}</h4>
            <small class="flex self-end">
                {% for tag in blog.tags.all %}
                {% if not forloop.first %}
                |
                {% endif %}
                     {{tag}}
                {% endfor %}
            </small>
        </div>
    </a>
    {% endfor %}

</div>
{% endblock body %}